@import 'tailwindcss';
@import '../../../../packages/ui/src/tokens.css';
@import 'leaflet/dist/leaflet.css';
@source "..";
@source "../../../../packages/ui/src";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
}
